<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwException="true"
	  >

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="LogDirectory" value="${gdc:LogDirectory}"></variable>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->



		<target name="database"
			xsi:type="Database"
			connectionString="${configsetting:item=ConnectionStrings.DefaultConnection}"
			
			commandText="INSERT INTO Log (Datetime, MachineName, Level, Message, Logger) VALUES (
			@time_stamp, @machineName, @level, @message, @logger)">
			<parameter name="@time_stamp" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@logger" layout="${logger}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@machinename" layout="${machinename}"/>
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Error" writeTo="database"/>
	</rules>
</nlog>