<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-8" style="border-bottom:1px solid darkgray"><p id="Create-title-bar">@Text</p></div>
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>

@code {
    [Parameter]
    public string? Text { get; set; }
}
