<div class="mat-layout-grid-cell mat-layout-grid-cell-span-1" />
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-10">
    <p class="title-bar">@Text</p>
</div>
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-1" />
@code {

    [Parameter]
    public string Text { get; set; }
}
